<!DOCTYPE html>
<html ng-app="Lista">
    <head>
       	<title>Lista de compras com AngularJS</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="res/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="res/bootstrap/css/lista-compras.css">
        <link rel="stylesheet" href="res/bootstrap/css/gh-buttons.css">
        <script src="res/bootstrap/js/jquery-2.1.4.min.js"></script>

        <!-- Documentação do Datatable http://l-lin.github.io/angular-datatables/archives/v0.4.x/#/angularWay -->
        <script src="res/bootstrap/js/jquery.dataTables.min.js"></script>
        <link href="http://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" rel="stylesheet" />

        <script src="res/bootstrap/js/angular.min.js"></script>
        <script src="res/bootstrap/js/angular-datatables.min.js"></script>
        <!-- Deixar por Ultimo o js do angular-->
        <script src="res/bootstrap/js/lista-compras.js"></script>
    </head>
    <body>
        <div class="container" align ="center" ng-controller="ListaComprasController as controller">
            <div class="row" >
                <div class="page-header">
                    <h1>{{controller.listaNome}}</h1>
                </div>
            </div>
            
            <div class-row>
                <button class="button icon arrowleft" onclick="location.href='listaCompras.html';" >Voltar</button>
                <button class="button icon home" onclick="location.href='principal.html';" >Ínicio</button>
                <br><br>
            </div>

              <div style="border: 1px solid black;"  class="table-responsive">
                <table id="lista-compras" class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Comprado?</th>
                            <th class="text-center">Produto</th>
                            <th class="text-center">Quantidade</th>
                            <th class="text-center">Valor Un</th>
                            <th class="text-center">Valor Tot</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="produto in controller.produtosInLista" class="comprado-{{ produto.situacao }}">
                            <td align="center"><input type="checkbox" ng-model="produto.situacao"></td>
                            <td align="left"><strong>{{ produto.nomeProduto }}</strong></td>
                            <td align="center">{{ produto.quantidade }}</td>
                            <td align="right">R$: {{ produto.valorProduto}}</td>
                            <td align="right">R$: {{ produto.valorTotal}}</td>
                            <td align="center"><a href="" class="button danger icon remove"
                                   data-ng-click="controller.excluirProdLista(produto)" ></a>
                            </td>
                        </tr>
                    </tbody>
                    
                        <tr>
                            <td class="colunavalor" colspan="6">Valor Total R$: {{ controller.totalizador}}</td>
                        </tr>
                </table>
                
            </div>
            
            <div class="row">
                Adicionar Produto na Lista
            </div><br>
            <div class="row">
                <form class="form-inline" name="formProduto">
                    Produto:
                    <select  class="form-control"
                             ng-model="controller.produto" 
                             ng-options="produto.nomeProduto for produto in controller.produtos track by produto.codProduto">
                    </select>
                        <input type="number" class="form-control2" ng-model="controller.quantidade" placeholder="Quantidade">
                    <button class="button add icon add " data-ng-click="controller.adicionarProduto()"></button>
                </form>
            </div>
        </div>
    </body>
</html>