<!DOCTYPE html>
<html ng-app="todos">

  <head>
     <link rel="stylesheet" href="res/bootstrap/css/bootstrap.css">
     <script src="res/bootstrap/js/angular.min.js"></script>
    
    <script data-require="ui-bootstrap@*" data-semver="0.12.1" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script src="res/bootstrap/js/paginacao.js"></script>
  </head>

  <body ng-controller="TodoController">
    <h1>Todos</h1>
    <h4>{{todos.length}} total</h4>
    <ul>
      <li ng-repeat="todo in filteredTodos">{{todo.text}}</li>
    </ul>
    <pagination 
      ng-model="currentPage"
      total-items="todos.length"
      max-size="maxSize"  
      boundary-links="true">
    </pagination>
  </body>

</html>
